@use 'var';

.music {
    text-align: center;
    background-color: var.$colorprimary;
    
    h1 {
        padding: 6rem 0;
    }

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: start;

        &__image {
            max-width: 50%;
            img {
                max-width: 460px;
                border: 2px solid var.$colorsecundary;
                border-radius: 10px;
            }

            p {
            padding: 4rem 1rem;
            word-wrap: break-word;
            }  
        }

        &__text {
            flex: 1;

            ul {
                margin-left: 12rem;
                text-align: start;
                list-style-type: decimal;
                list-style-position: inside;
                margin-bottom: 6rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) { 
    .music {
        h1 {
            padding: 3rem 0;
        }
    
        &__right {
            display: flex;
            flex-direction: column;
            padding: 25px;
            p {
                width: 315px;
                padding: 2rem 0;
                }  
            &__image {
                img {
                    max-width: 320px;
                }
                
            }
    
            &__text {
                ul {
                    margin-left: 0rem;
                    margin-bottom: 3rem;
                }
            }
        }
    }
}