@use 'var';
@use 'header';
@use 'hero';
@use 'about';
@use 'music';
@use 'wallp';
@use 'serie';
@use 'footer';


@font-face {
    font-family: Scott;
    src: url('../../assets/fonts/Dusty.ttf');
}

@font-face {
    font-family: Scotts;
    src: url('../../assets/fonts/SUPERFLY.TTF');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

@mixin text($fontSize: 1rem) {
    font-size: $fontSize;
    line-height: $fontSize + 0.8rem;
    font-family: 'Roboto', sans-serif;
    
}

@mixin title($fontSize: 2.6rem) {
    @include text($fontSize);
    font-family: Scott, sans-serif;
    -webkit-text-stroke: 1px var.$colortertiary;
    text-stroke: 1px var.$colortertiary;
}

.text {
    @include text;
}

.title--primary {
    @include title(2rem);
    color: var.$colorprimary;
}

.title--secondary {
    @include title(2rem);
    color: var.$colorsecundary;
}

.title--nav {
    @include title(1.8rem);
    a{
        color: var.$colorprimary;
        text-decoration: none;
        letter-spacing: 2px;
        -webkit-text-stroke: 2px var.$colortertiary;
        text-stroke: 2px var.$colortertiary;
        transition: all 1s ease;

        &:hover {
            color: var.$colorsecundary;
        }
    }
    
}

body {
    background-color: var.$colorsecundary;
}